$font:  'Poppins', sans-serif;
$color1: #2EB897;
$color2: #212121;
$color3: #2A84EE;
$color4: #E8F2FC;
$prgr: #6C778E;
$border: 1px solid;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
}

.main{
    width: 100%;
    margin: 0 auto;
}